# Windows EOL
*.cs -crlf -whitespace
*.mk -crlf -whitespace
*.bat -crlf -whitespace
*.dev -crlf -whitespace
*.dsp -crlf -whitespace
*.dsw -crlf -whitespace
*.sln -crlf -whitespace
*.resx -crlf -whitespace
*.vcproj -crlf -whitespace
*.csproj* -crlf -whitespace
*.vcxproj* -crlf -whitespace
*.manifest -crlf -whitespace
# Patches
/tools/SDL-1.2.14-gc/SDL-1.2.14-gc.patch -whitespace
# LibPNG
/tools/libpng-src/CMakeLists.txt -whitespace
/tools/libpng-src/libpng-1.2.*.txt -whitespace
/tools/libpng-src/libpng.3 -whitespace
/tools/libpng-src/*.c -whitespace
# Zlib
/tools/zlib/contrib/amd64/amd64-match.S -whitespace
/tools/zlib/contrib/delphi/zlibd32.mak -crlf -whitespace
/tools/zlib/contrib/gcc_gvmat64/gvmat64.S -whitespace
/tools/zlib/contrib/minizip/MiniZip64_Changes.txt -whitespace
/tools/zlib/contrib/minizip/MiniZip64_info.txt -whitespace
/tools/zlib/contrib/pascal/zlibd32.mak -whitespace
/tools/zlib/nintendods/Makefile -whitespace
/tools/zlib/nintendods/README -whitespace
/tools/zlib/watcom/watcom_f.mak -crlf -whitespace
/tools/zlib/watcom/watcom_l.mak -crlf -whitespace
# Other
